/*header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.header-left h1{
    font-size: 48px;
    font-weight: 700;
    color: #222;
}

.header-left p {
    margin-top:10px;
    color:#555;
    font-size: 22px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon-btn{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: .3s;
}

.icon-btn:hover {
    background-color: #ececec;
}

.icon-btn svg {
    width: 24px;
    height: 24px;
    color: #222;
}

.profile-img{
    width:42px;
    height:42px;

    border-radius:50%;
    object-fit:cover;

    cursor:pointer;
}

.notification-btn {
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .25s;
}

.notification-btn:hover {
    background-color: #F4F4F4;
}

.notification-btn svg {
    width: 24px;
    height: 24px;
    color: #222;
}