* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*sa body*/
body {
    font-family:'Poppins',sans-serif;
}

/*sa mainlayout*/
.container {
    display: flex;
    min-height: 100vh;
}

/*sa mainContent*/
.main-content {
    flex: 1;
    padding:30px;
}