<header class="resort-navbar">

    <div class="navbar-left">

        <button
            type="button"
            class="sidebar-toggle"
            aria-label="Toggle Sidebar"
        >

            <i class="fa-solid fa-bars"></i>

        </button>


        <div class="navbar-search">

            <i class="fa-solid fa-magnifying-glass"></i>

            <input
                type="text"
                placeholder="Search anything..."
            >

        </div>

    </div>


    <div class="navbar-right">

        <button
            type="button"
            class="notification-button"
            aria-label="Notifications"
        >

            <i class="fa-regular fa-bell"></i>

            <span class="notification-dot"></span>

        </button>


        <button
            type="button"
            class="resort-selector"
        >

            <div class="nav-resort-avatar">
                <i class="fa-solid fa-umbrella-beach"></i>
            </div>

            <span>
                Blue Waves Resort
            </span>

            <i class="fa-solid fa-chevron-down"></i>

        </button>


        <div class="nav-user">

            <div class="nav-user-info">

                <strong>
                    Juan Dela Cruz
                </strong>

                <span>
                    Resort Owner
                </span>

            </div>

            <button
                type="button"
                class="nav-user-arrow"
                aria-label="User Menu"
            >

                <i class="fa-solid fa-chevron-down"></i>

            </button>

        </div>

    </div>

</header>